// Skin for full-page container.

.contentContainer {
  background-color: $main-background;
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 52vw bottom 34vh, 48vw 52vh;
}
