// Fonts
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$sans: "Kumbh Sans", sans-serif;

// Page-level styles
body {
  font-family: $sans;
  font-size: 18px;
}

// Typographic layout variables
$fontWeight-normal: 400;
$fontWeight-bold: 700;
